/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/

/* line 1, ../../app/assets/stylesheets/layout.css.scss */
body {
  background: url("http://iamsolarpowered.github.com/rob_ford/assets/ford_cutout.png") #0f0f0f 2em 1em no-repeat fixed;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 8, ../../app/assets/stylesheets/layout.css.scss */
.container {
  width: 500px;
  margin: 2em auto;
}
/* line 11, ../../app/assets/stylesheets/layout.css.scss */
.container .main {
  color: white;
}

/* line 16, ../../app/assets/stylesheets/layout.css.scss */
.right_sidebar {
  position: fixed;
  top: 2em;
  right: 1em;
  width: 250px;
  color: #444;
  font-size: 12px;
}
/* line 23, ../../app/assets/stylesheets/layout.css.scss */
.right_sidebar a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
/* line 27, ../../app/assets/stylesheets/layout.css.scss */
.right_sidebar a:hover {
  text-decoration: underline;
}
/* line 31, ../../app/assets/stylesheets/layout.css.scss */
.right_sidebar p {
  margin: 4em 0;
}